.nav-item .btnlive {
    background-color: black;
    text-align: center;
    align-items: center;
    border: 1px solid #f64137;
    color: white;

}

.nav-item .btnlive:hover {
    background-color: rgb(156, 98, 98);
    text-align: center;
    align-items: center;
    border: 1px solid #f64137;
    color: white;

}

.navbar {
    background-color: black !important;
    margin: 0% !important;
    padding: 0% !important;
    width: 100% !important;
}

.container-fluid {
    background-color: black !important;
    color: white;
    margin: 0% !important;
    padding: 0% !important;
}

.dropdown-menu {
    background-color: black !important;
}

.navbar-toggler-icon {

    background-color: rgb(153, 123, 128) !important;
}


.firstimage img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 105%;
    width: 100%;
    opacity: 0.4;
}

.firstimage {
    position: relative;
    background-color: black;

}

.text {
    position: absolute;
    left: 23px;
    top: 610px;
    color: white;
    flex-direction: column-reverse;
   
   
   
}

.text h1 {
    font-size: 45px;
    font-weight: bolder;

}

.text p {
    font-size: 20px;

}

.logo2 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}


.secounditem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.secounditem h1 {
    font-size: 46px;
    color: firebrick;
}

.update {
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;


}

.text button {
    background-color: #f64137;
    color: white;
    width: 118px;
    height: 46px;
    margin-left: 20%;
    border-radius: 22px;

}

.bottomimg {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    text-align: center;
}

.bottomimg .fontone {
    font-weight: bold;
    font-size: 33px;
}

.picture {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
}

.fontone {
    border-top: 1px solid white;
}

.fontone p {
    font-size: medium;
}
/* 
.bottomimg {
    margin-top: 210px;
} */


.secoundcontainer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

/* .container main{
    height: 400px;
    background-color: green;
    margin-top: 10px;
    width: auto;
    
} */
.thirdcontainer{
    height: auto;
    width: 90%;
}
.row{
    margin-left: 30%;
    margin-right: 30%;

}
.two{
    height: 370px;
    margin-bottom: 10px;
    /* background-color: red; */
    background-size: cover;
 
}
.two img{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.three{
    height: 370px;
    margin-bottom: 10px;
    /* background-color:yellow; */
    background-size: cover;
}
.three img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.four{
    height: 400px;
    margin-bottom: 10px;
    /* background-color:rgb(0, 102, 255); */
}
.four img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.five{
    height: 180px;
    margin-bottom: 10px;
    /* background-color:rgb(136, 255, 0); */
}
.five img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.six{
    height: 180px;
    margin-bottom: 10px;
    /* background-color:pink; */
}
.six img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.forthcontainer{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
    margin-top: 0%;
   
 
}
.firstcontainer{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}
.first img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.secound img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.third img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fourth img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

@media only screen and (max-width:500px) {

    .form-control,
    .btn {
        display: none !important;
    }

    .update {
        text-align: center;
    }

    .secounditem {
        text-align: center;
    }

    .text {
        margin: 0%;
        padding: 0%;
        top: 580px;
       

       
    }
    

    .text h1 {
        font-size: 22px;
    }


    .firstimage img {
        height: 130vh;
        background-size: cover;
    }

    .logo2 {
        border: 2px solid yellow;
        text-align: center;
        margin: auto;

    }

    .text button {
        width: 100%;
        margin: 0%;
        font-size: 23px;
        font-weight: bolder;


    }
    
    .bottomimg {
        flex-direction: column;
        flex-wrap: wrap;
   
    }
    .bottomimg .fontone {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }

   
        
    .two,.three,.four,.five,.six{
        width:auto;
    }
    .bottomimg .picture{
        text-align: center;
        height: 50px;
        width: 50px;
    }
    .firstcontainer{
        flex-direction: column;
        flex-wrap: wrap;
      
    }
    .fourthcontainer{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    }

    }

    
