.nav-item .btnlive{
    background-color: black ;
    text-align: center;
    align-items: center;
    border: 1px solid #f64137;
    color: white;

}
.nav-item .btnlive:hover{
    background-color: rgb(156, 98, 98) ;
    text-align: center;
    align-items: center;
    border: 1px solid #f64137;
    color: white;

}

.navbar{
    background-color: black !important;
    margin: 0% !important;
    padding: 0% !important;
    width: 100% !important;
}
.container-fluid{
    background-color: black !important;
    color: white;
    margin: 0% !important;
    padding: 0% !important;
}
.dropdown-menu{
    background-color: black !important;
}
.navbar-toggler-icon{
    
    background-color: rgb(153, 123, 128) !important;
}
.firstimage img{
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
   opacity: 0.4;
}
.firstimage{
    position: relative;
    background-color: black;
}
 .text {
    position: absolute;
    left: 23px;
    top: 210px;
    color: white;
    width:  470px;

 }
    
.text h1{
    font-size: 55px;
    font-weight: bolder;
    flex-wrap: wrap;
}
.text p{
    flex-wrap: wrap;
}


@media only screen and (max-width:550px){
    .form-control,.btn{
        display: none !important;
    }
  
}